#simpleTable thead tr th { cursor: pointer;    }
#HeaderBar { background: url(../../img/cumplimiento/logo-fondo.png) repeat-x; height: 86px; }
#HeaderLeft { background: url(../../img/cumplimiento/logo-bind.png) no-repeat; height:86px; width: 265px; float: left; }
#HeaderRight { background: url(../../img/cumplimiento/logo-intranet.png) no-repeat; height:86px; width: 288px;   float: right; }
#HeaderBarAlt { background: url(../../img/cumplimiento/header-background.jpg) repeat-x; height: 68px; }
#HeaderLeftAlt { background: url(../../img/cumplimiento/bancoindustrial.jpg) no-repeat; height:68px; width: 265px; float: left; }
#HeaderNew { height:54px; width: 160px; float: left; }
#HeaderNew4it { width: 110px; float: left; cursor: pointer; }


.error { color:red; font-weight: 700; }
.notice { width:648px;height:30px;text-align:center;border:1px solid red;padding-top:12px;margin-left: -7; background: #fef1ec; }
.success { color: green; font-weight: 700; }
.box-overflow-list { height: 100px; overflow-x: no-display; overflow-y: scroll;  border-bottom: 1px solid #ccc; margin-bottom: 8px; }
.ver_registro { display: table-row; }
.no_ver_registro { display: none; }
.dropdown.margin-menu { margin-top: 10px; }
.label-warning { background-color: #f4ca00; }
.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret { border-top-color: #000000; border-bottom-color: #000000; }
.leg_demandas_anexos { margin-bottom: 0; }

.btn-procesos { width:50%; margin: 5px; }